#master-history {
 display: none;
}

#condition {
 width: 100px;
 height: auto;
}

#branding {
 width: 200px;
 height: auto;
}

html,
body {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 background: #d8fed7;
}

#left{
    background-image: url("https://cdn.dribbble.com/users/215810/screenshots/2747402/blimpy3.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#right{
    min-height: 100vh;
    background: palegreen;
}

.row{
    margin: 0;
}